* {
	margin: 0;
	padding: 0;
}
html{
    font-size: 14px;
    font-family: Arial, "黑体";
    -webkit-overflow-scrolling: touch;  
}
html, body, .main{
    position: relative;
    width: 100%;
    height: 100%;

}

.main{
    background-color: rgba(244, 244, 244, 1);
}
img{
    height: 20px;
    color: rgba(255, 157, 58, 1);
}
/* 标题样式 */
.headbar{
    background-color: white;
    height: 2rem;
}
.page-back{
    position: absolute;
    top: .5rem;
    left:.5rem;
    color: rgba(255, 157, 58, 1);
    vertical-align: top;
    line-height: 1.5rem;
}
.page-back span{

    vertical-align: top;
}
.page-title{
    text-align: center;
    padding: .5rem;
}
