* {
	margin: 0;
	padding: 0;
}
html{
    font-size: 14px;
    font-family: Arial, "黑体";
    -webkit-overflow-scrolling: touch;  
}
html, body, .main{
    position: relative;
    width: 100%;
    height: 100%;

}

.main{
    background-color: rgba(244, 244, 244, 1);
}
/* 标题样式 */
.headbar{
    background-color: white;
    height: 3rem;
}
.page-back{
    position: absolute;
    top: .5rem;
    left:.5rem;
    color: rgba(255, 154, 36, 1);
    vertical-align: top;
    line-height: rem;
}
.back-icon{
    width: 2rem;
    height: 2rem;
 
}
.page-title{
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
}


/* 车票信息简介 */
.ticket-introduction{
    background-color:  rgba(255, 154, 36, 1);
    width: 84%;
    margin:1.2rem auto;
    height: 5.5rem;
    border-radius: .6rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.349019607843137);
    color: white;
    box-sizing: border-box;
    padding: 1rem 1rem;
    position: relative;
    overflow: hidden;
}
.smallcircleV2{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    bottom: -1.5rem;
    right: 9.5rem;
}
.bigcircleV2{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    bottom: -6.2rem;
    right: 0.6rem;
}
.ticket-introduction_detail{
    height: 1.5rem;
    line-height: 1rem;
    width: 100%;
}

.ticket-introduction_detail-left{
    font-size: 1.1rem;
    width: 80%;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.ticket-introduction_detail-right{
    font-size: 1.1rem;
    width: 20%;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: right;
}
.ticket-introduction_route{
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0;    
}
.ticket-introduction_route span{
    background-color: white;
    color: rgba(255, 154, 36, 1);
    padding: .4rem;
    padding-right: .8rem;
    font-weight: bold;
    border-radius: .2rem;
    font-size: .8rem;
}
.ticket-introduction_route span img{
    position:relative;
    right:-4px;
    top:0;
    width: 6px;
    
}

/* 票单提醒 */
.remainMessage{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: rgba(255,185,103,1);
    color: white;
}
/* 乘客信息 */

.passenger{
    width: 100%;
    background-color: white;
    margin-bottom: .8rem;
}
.passenger-title{
    width: 100%;
    padding: 0 3%;
    height: 2rem;
    line-height: 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    color: rgba(102,102,102,1);
}
.passenger-title span{
    margin-left: 10px;
    color: rgba(153, 153, 153, 1);
}
.passenger-information{
    width: 100%;
    padding: .5rem 0;
    
}
.passenger-information_name,.passenger-information_id{
    width: 94%;
    margin: auto;
    /* padding: 0 3%; */
    height: 1.3rem;
    line-height: 1.3rem;
}
.passenger-information_name{
    font-size: 1.1rem;
}
.passenger-information_id{
    color: rgba(153, 153, 153, 1);
}
/* 选择时间 */
.choose-date{
    padding: 0 3%;
    height: 2.8rem;
    line-height: 2.8rem;
    background-color: white;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}
.choose-date-fl{
    float: left;
    color: rgba(102, 102, 102, 1);
}
.choose-date-fr{
    float: right;
}
/* 选择电话 */
.choose-phone{
    padding: 0 3%;
    height: 2.8rem;
    line-height: 2.8rem;
    background-color: white;

}
.choose-phone-fl{
    float: left;
    color: rgba(102, 102, 102, 1);
}
.choose-phone-fr{
    float: right;
    outline: none;
}
/* 购票须知 */
.prompt-message{
    width: 94%;
    margin: auto;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: right;
    color: rgba(102, 102, 102, 1);
}
.prompt-icon{
    width: 12px;
    height: 12px;
    position: relative;
    top:1px;
}
/* 购票规则 */
.rule{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1010;
    display: none;
}
.rule-box{
    width: 80%;
    height: 60%;
    background-color: rgba(255, 154, 36, 1);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    overflow: hidden;
    color: white;
}
.rule-content{
    height: 90%;
    width: 90%;
    margin: 5% 5%;
    overflow: scroll;
    color: white;
}
.rule-title{
    line-height: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
.smallcircleV3{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    bottom: -.5rem;
    right: 9.5rem;
}
.bigcircleV3{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    bottom: -4rem;
    right: 0.6rem;
}
.close-btn{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.close-btn img{
    width: 2.5rem;
    height: 2.5rem;   
}
/* 底部样式 */
.footer{
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    background-color: white;
}

.footer-item-left{
    margin-left:5%;
    width: 65%;
    float: left;
}

.footer-item-left .price{
  color: rgba(255, 154, 36, 1);
}
.footer-item-right{
    margin-right: 5%;
    text-align: right;
    width: 25%;
    float: left;
}
.footer-item-right span{
    background-color: rgba(255, 154, 36, 1);
    color: white;
    padding:.2rem .5rem;
    border-radius: 1rem;
    height: 1rem;
    line-height: 1rem;
}