* {
	margin: 0;
	padding: 0;
}
html{
    font-size: 14px;
    font-family: Arial, "黑体";
    -webkit-overflow-scrolling: touch;  
}
html, body, .main{
    position: relative;
    width: 100%;
    height: 100%;

}

.main{
    background-color: rgba(244, 244, 244, 1);
}
/* 标题样式 */
.headbar{
    background-color: white;
    height: 3rem;
}
.page-back{
    position: absolute;
    top: .5rem;
    left:.5rem;
    color: rgba(255, 154, 36, 1);
    vertical-align: top;
    line-height: rem;
}
.back-icon{
    width: 2rem;
    height: 2rem;
 
}
.page-title{
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
}

/* 使用中和已过期的标签样式 */
.ticketused-tab{
    background-color: white;
    width: 100%;
    height: 3rem;
}
.ticketused-tab_content{
    width: 50%;
   
    margin:auto;
    height: 2.4rem;
    padding:.4rem;  
    /* line-height: 2rem; */
}
.ticketused-tab_content-item{
    width: 50%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: .4rem;
}
.ticketused-tab_content-item_choose{
    color:  rgba(255, 154, 36, 1);
}
.item-left{
    border-top-left-radius:.8rem;
    border-bottom-left-radius:.8rem;
    border:1px solid rgba(244, 244, 244, 1);    
}
.item-right{
    border-top-right-radius:.8rem;
    border-bottom-right-radius:.8rem;
    border:1px solid rgba(244, 244, 244, 1);    
}
.item-choose{
    background-color: rgba(244, 244, 244, 1);
}
.ticket-list{
    overflow: scroll;
}

/* 月票年票样式 */
.ticket-information{
    background-color:  rgba(255, 154, 36, 1);
    width: 84%;
    margin:1rem auto;
    height: 9.8rem;
    border-radius: .6rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.349019607843137);
    color: white;
    box-sizing: border-box;
    padding: .7rem 1rem;
    position: relative;
    overflow: hidden;
}
.ticket-information_fail{
    background-color: rgba(187,187,187,1);
    width: 84%;
    margin:1rem auto;
    height: 9.8rem;
    border-radius: .6rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.349019607843137);
    color: white;
    box-sizing: border-box;
    padding: .7rem 1rem;
    position: relative;
    overflow: hidden;
    
}
.smallcircle{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    bottom: 2.8rem;
    right: 8.5rem;
}
.bigcircle{
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    bottom: -2rem;
    right: -.4rem;
}
.ticket-type{
    width: 80%;
    height: 2rem;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ticket-type span{
  padding-left: 5px;
}
.ticket-order{
    width: 100%;
    height: 1.5rem;
    position: relative;
   
}
.ticket-order .orderNum{
    width: 80%;
    float: left;
    
}

.ticket-order .orderPrice{
    width: 20%;
    float: left;
    font-size: 1.2rem;
    position: relative;
    top:-15px;
    text-align: right;
}
.ticket-times{
    width: 100%;
    height:2rem;
    line-height: 2rem;
    margin-top:1.5rem;
    
}
.ticket-times-detail{
    background-color: white;
    color: rgba(247, 145, 48, 1);
    padding: .4rem;
    font-weight: bold;
    border-radius: .2rem;
}
.ticket-date{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: .2rem;
}
.ticket-information_fail .ticket-times-detail{
    color: white;
    background-color: rgba(198,198,198,1);
}
.noticket{
    width: 100%;
    text-align: center;
    margin-top:4rem;
}
.noticket img{
    width:5rem;    
}
.noticket-message{
    width: 100%;
    text-align: center;
    color: rgba(198,198,198,1);
    margin-top:1rem;
}
.gotobuy{
    width: 100%;
    text-align: center;
    margin-top:1.5rem;
}
.gotobuy span {
    background-color: white;
    border:1px solid rgba(198,198,198,1);
    color: rgba(247, 145, 48, 1);
    border-radius: 1rem;
    padding: .3rem 1rem;
   
}

