* {
	margin: 0;
	padding: 0;
}
html{
    font-size: 15px;
    
    -webkit-overflow-scrolling: touch;  
}
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #f3f3f3; */
    background-color: black;
}
a, img, button, input, textarea, div {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, 0.6);
    width: 100%;
    display: none;
    z-index: 100;
}
.loading-img{
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%)
}
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: none;
}
.dialog{
    width: 208px;
    min-height: 124px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 20px;
}
.dialog-content{
    width: 80%;
    margin:auto;
    padding:30px 0;
    text-align: center;
}
.dialog-btn{
    color: #f79030;
    text-align: center;
    height:40px;
    line-height: 40px;
    border-top: 2px solid #f3f3f3;
}
.remian-dialog{
    width: 208px;
    min-height: 54px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color:  rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: white;
    display: none;
}
.remian-dialog-content{
    width: 80%;
    margin:auto;
    padding:30px 0;
    text-align: center;
    
}
.remian-dialog-btn{
    width: 60%;
    margin:auto;
    padding:5px 0;
    border:1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
.main{
     overflow: auto;
     background-color: red;
     position: relative;
     width: 100%;
     height: 100%;  
}
.search-bar{
    width: 94%;
    margin:0 auto;
    line-height: 30px;
    height: 30px;
    padding: 10px 3%;
    z-index: 6;
}

.searchbtn{
    color:rgba(255, 157, 58, 1);
    font-size: 16px;
    display: inline-block;
    width: 13%;
    text-align: center;
}
.search-icon{
    height:15px;
    vertical-align: middle;
    position: relative;
    top:-2px;
}
.search-content{
    background-color: rgba(255,255,255, 0.6);
    padding-left:8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 23px;
    border: 1px solid rgba(244, 244, 244, 1);
    width: 85%;
    margin: 0 auto;
    color: #666;
    text-align: center;
}

.search-result{
    margin: 50px 0;
}
.search-result-noresult{
    text-align: center;
    display: none;
}
.search-result-noresult-img{
    width: 70px;
    margin: 40px 0;
}
.search-result-noresult-content{
    font-size: 14px;
    color: #666;
}
.search-result-list{
    
}
.search-result-item{
    position: relative;
    display: block;
    border-bottom: 1px solid #eeeeee;
}
.presale-label-box{
    position: absolute;
    top: 0;
    left: 12px;
    text-align: center;
    z-index: 5;
}
.presale-label{
    padding: 4px;
    padding-bottom: 2px;
    color: white;
    background-color: #f79030;
    display: inline-block;
    font-size: 12px;
}
.presale-label-bottom{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 16px 0 16px;
    border-color: #f79030 transparent transparent transparent;
    margin: auto;
}
.search-result-item-imgBox{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    /* margin-top: 10px; */
    text-align: center;
}
.search-result-item-img{
    height: 180px;
    width: 100%;
}
.search-result-item-price{
    position: absolute;
	bottom: 10px;
	right: 10px;
	width: 115px;
	height: 40px;
	line-height: 40px;
	color: #ff9900;
	font-size: 18px;
	font-weight: bold;
	background-color: rgba(33, 33, 33, 0.6)
}
.search-result-item-price-sale{
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
}
.search-result-item-contentBox{
    padding: 15px;
}
.search-result-item-contentBox-content{
    display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;
}
.search-result-item-contentBox-labelBox{
    font-size: 13px;color: #666;padding-top: 10px;
}
.search-result-item-contentBox-labelBox-label{
    padding:3px 5px;
    margin: 5px 5px;
    background: #ccc;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
}
.search-result-item-contentBox-labelBox-saleNum{
    display: inline-block;
    float: right;
    line-height: 30px;
}